<section id="about">
    <div class="container">
        <div class="row">
	    <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
                <div class="service-box team">
                    <h1 class="gp-name">{{ site.owner }}</h1>
		    <h2 class="gp-subtitle">{{ site.whoami }}</h2>
		    <br>
                    <h3 class="fancy"><span>באו ניהיה בקשר</span></h3>
		    {% include social.html  %}
                </div>
		<img id="profile-photo" src="img/gp_feedback2.jpg" class="img-responsive" alt="">
		<p id="about-txt"> 
			כל כך הרבה פעמים רעיונות מעולים שיש לנו לא מקבלים את התמיכה שאנחנו רוצים, בעיקר כי אנחנו לא מצליחים לשכנע את מי שעומד מולנו - ברעיון. ולפעמים אפילו לא מצליחים לשכנע אותם ששווה להקשיב לנו... רבים לא מתארים לעצמם כמה רחוק נוכל להגיע אם נהיה יותר טובים בזה וכמה אפשר להשתפר בזה.
<br>
Go Public היא קהילה שמאפשרת לבנות ולשייף את כישורי התקשורת הבין אישית, העמידה מול קהל והמנהיגות על ידי <b>תרגול וקבלת משוב</b> - מתוך האמונה שכל אלו הם כישורים הכרחיים כדי לרתום ולסחוף אחרים (מנהלים / חברי צוות / לקוחות / משקיעים / וכו') ברעיונות שלנו. ובסופו של דבר להפוך את הרעיונות למציאות.
<br>
אנחנו מאמינים שלמידה אפקטיבית מתבצעת על ידי "קפיצה למים" - תרגול, קבלת משוב והבנה של הצעד הבא לשיפור (וחוזר חלילה) בתוך קהילה תומכת - התהליך הזה הוא בעינינו המפתח להצלחה ולשיפור לאורך זמן. 
<br>
כאשר מקבלים משוב מחברי הקהילה, אנחנו מקבלים את האפשרות לשמוע מספר השקפות על הבעיה שאנחנו מתמודדים איתה - וכך אנחנו יכולים להבין על מה בדיוק כדאי לנו לתת פוקוס. שיתוף הפעולה בין חברי הקהילה צפוי לצמצם את הזמן המבוזבז במחקר פתרונות שאינם עובדים, ובסופו של דבר להוביל להישגים שלא ניתן להשיג לבד.

		</p>
            </div>
        </div>
    </div>
</section>
