<aside id="blog" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">פעילות</h2>
                <hr class="primary">
                <br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 post-container">
                {% include programs.html %}
                <a class="btn btn-default" href="https://goo.gl/forms/xejaWbuPcXXUqBFC2" role="button">אני רוצה להרשם</i>

</a>
            </div>
            <hr class="primary post-separator">
            <div class="col-md-6 post-container">
                {% include mainEvents.html %}
                <a class="btn btn-default" href="https://www.facebook.com/pg/GoPublicIL/events" role="button">מתי נפגשים?</i>

</a>
            </div>
        </div>
    </div>
</aside>
