<h3 class="title">מפגשי הקהילה</h3> 

<div class="body text-right">
<p>
בניית והעברת מסרים הם אחד הכלים הכי חשובים כדי לדחוף את הרעיונות שלנו קדימה (בין אם מדובר ברעיון לסטארטאפ או ביעד שאנחנו רוצים לקדם בחברה שאנחנו עובדים בה), כדי לגייס עובדים או כדי להתראיין בעצמנו, כדי למכור את המוצר\שירות שלנו או כדי לשמור על יחסים טובים עם לקוחות קיימים. 
<br>
אנחנו מאמינים שאפשר להגיע למצויינות על ידי אימון וקבלת משוב מקהילה תומכת - בהתאם המפגשים שלנו בנויים סביב ה<b>אימון</b>. בכל מפגש מגיע מנטור/ית אורח/ת ל"שיחת מנטור" קצרה בנושאים רלוונטים לקהילה ואחרי זה אנחנו ניגשים לסבב הרצאות קצרות נוסח TED ומשובים לדוברים מהקהל והמנטור. <b>המפגשים האלו מושכים מידי חודש מעל 100 משתתפים ואת המנטורים הכי מובילים בתעשיית ההיטק הישראלית</b>. 
</p>
</div>

<a class="btn btn-default" href="https://www.facebook.com/pg/GoPublicIL/events" role="button">מתי נפגשים?</i></a>
