<h3 class="title">מפגשי הקהילה</h3> 

<div class="body text-right">
<p>
Go Public היא קהילה שמטרתה לתת לאנשים את האפשרות לתרגל בניית והעברת מסרים ועמידה מול קהל. מכיוון שהפוקוס אצלנו הוא על התרגול וקבלת המשוב מהמנטור/ית ומהקהל, המפגשים שלנו הפכו לסופר פופולריים והביקורות על המפגשים שלנו מצויינות (תוכל להתרשם מכך בעמוד הפייסבוק שלנו). בניית והעברת מסרים הם אחד הכלים הכי חשובים כדי לדחוף את הרעיונות שלנו קדימה (בין אם מדובר ברעיון לסטארטאפ או ביעד שאנחנו רוצים לקדם בחברה שאנחנו עובדים בה), כדי לגייס עובדים או כדי להתראיין בעצמנו, כדי למכור את המוצר\שירות שלנו או כדי לשמור על יחסים טובים עם לקוחות קיימים. אנחנו מאמינים שאפשר להגיע למצויינות על ידי אימון וקבלת משוב מקהילה תומכת.
</p>
</div>
