<h3 class="title">קהילות למידה (אימון)</h3>

<div class="body text-right">
  <p>
תוכניות "קהילת למידה" - נוצרו מהצורך של אנשים לתרגל כישורי בניית והעברת מסרים <b>לאורך זמן</b>. במסגרת תוכניות אלו אנחנו יוצרים קבוצות אינטימיות של 15-25 משתתפים שמתרגלים ביחד את הכישורים האלו תוך מתן/קבלת פידבק אחד לשני. הרצף במפגשים מאפשר לנו גם ללמוד לתת משוב באופן יותר אפקטיבי - כך שהמשוב הופך למתנה בעיני המקבל.
<br>
אנחנו מאמינים שאפשר להגיע להישגים מרשימים ביחד כקבוצה ולא צריך לחכות למישהו "מומחה" שילמד אותנו. היום יותר מאי פעם בעבר, זה מתאפשר בגלל כמויות הידע העצום שזמין ונגיש באינטרנט. ולכן בכל נושא ניתן ללמוד <b>כל</b> דבר מהמומחים הטובים ביותר בעולם, ולהעזר בחברי הקהילה כדי תאכלס להתאמן ולשייף את היכולות שלנו עד למומחיות.
<br>
    <b>שותפות לעשייה:</b>
<br>
    <a href="https://aidoc.com/"><img id="aidoc" src="img/aidoc.png" alt="Aidoc"></a>
    <a href="https://www.walkme.com/"><img id="walkme" src="img/walkme.png" alt="WalkMe"></a>
<br>
.שמארחות את הקבוצות
  </p>
</div>

<a class="btn btn-default" href="https://goo.gl/forms/xejaWbuPcXXUqBFC2" role="button">אני רוצה להרשם</i></a>
